
@{
	ViewBag.Title = "Photos";
}

<style>
	ul {
		list-style-type: none;
	}

	div {
		padding-bottom: 10px;
	}

	.content {
		position: absolute;
		height: 80%;
		width: 90%;
		padding: 10% 5%;
	}
</style>

<div class="container">
	<h2 align="center"><u>Photos</u></h2>

	<h4 align="center">
		<a href="@(Url.Action("Index", "Album", new {@albumId = ViewBag.albumId}))">Back to albums</a>
	</h4>

	<div class="row">
		<ul>
			@foreach (var item in ViewBag.photos)
			{
				<li>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div id="photo_@item.id">
							<a href="@item.url" target="_blank"><img src="@item.thumbnailUrl" /></a>
						</div>
					</div>
				</li>
			}
		</ul>
	</div>
</div>